<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
       Develpoment available on following platforms:
      </h1>
    </center>
    <br />
    <p class="content">
    </p>
  </div>
</div>
<% include ../partials/footer.ejs %>
