<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
        Contact Information:
      </h1>
    </center>
    <br />
    <p class="content">
          <h4 style="color: rgb(75, 22, 110);">Toll-Free Number </h4>
          1-888-888-8888
          <br /><br />
          <h4 style="color: rgb(75, 22, 110);">Email us with following informations-<br /></h4>
          <table>
            <tr>
              <td width="200" height="50">First Name :</td>
              <td><input name="firstName"></td>
            </tr>
            <tr>
              <td width="200" height="50">Last Name :</td>
              <td><input name="lastName"></td>
            </tr>
            <tr>
              <td width="200" height="50">Contact Number :</td>
              <td><input name="contactNum"></td>
            </tr>
            <tr>
              <td width="200" height="50">Email Address :</td>
              <td><input name="email"></td>
            </tr>
            <tr>
              <td width="200" height="50">Message :</td>
              <td><input name="message"></td>
            </tr>
            <tr>
              <td width="200" height="50"><a href="/home" class="btn btn-primary"> Submit </a></td>
              <td><a href="/contact" class="btn btn-primary">Cancel</a></td>
            </tr>
          </table>

    </p>
  </div>
</div>
<% include ../partials/footer.ejs %>
