<% include ./partials/header.ejs %>

  <!-- Content goes here --> 

 <div class="container" >
   <div style="background-color: rgba(129, 124, 209, 0.342)">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Home") { %>
      
      <% } %>

      <% if(title == "Favorites") { %>
        <a class="btn btn-primary" href="/favorite-list" role="button">Favorite List</a>
      <% } %>
    </div>
  </div>

<% include ./partials/footer.ejs %>