<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
        Welcome to Express Portfolio
      </h1>
    </center>
    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Hi! I am Khushboo Sakervala. I am a Software Engineer. My key technical
      skills are in the area of programming and developing of web application.
    </p>
    <h4 style="color: rgb(75, 22, 110);">Mission Statement:</h4>
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To serve the organisation with all my technical abilities and managerial
      skills with immense dedication to enhance my growth profile within the
      organisation. developing.
    </p>
    <h4 style="color: rgb(75, 22, 110);">Detail Informations:</h4>
    <a class="nav-link" href="/about" role="button"><b>About Me</b></a>

    <a class="nav-link" href="/projects" role="button"><b>Projects</b></a>
    <a class="nav-link" href="/services" role="button"><b> Services</b></a>
    <a class="nav-link" href="/contact" role="button"
      ><b>Contact Inforamtion</b></a
    >
    <br />
  </div>
</div>
<% include ../partials/footer.ejs %>
