<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
        Khushboo Sakervala
      </h1>
      <br />
      <a class="navbar-brand" href="/">
        <img src="Assets/images/myPic.jpg" width="250" height="300" alt="" />
      </a>
    </center>

    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      My name is Khushboo Sakervala. I am perusing Software Engineering
      Technology from Centennial College. I have attained my bachelor’s degree
      in Computer Applications. I have developed key technical skills in the
      area of programming and developing of web application by developing.
      <br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      I developed by skills for customer service from my job at Canada Post in
      Shoppers Drug Mart. My interpersonal skills got developed when I was
      appointed as the Head Volunteer to manage and guide 80 sub-volunteers to
      successfully carry out the admission process, which took place over a
      2-day period. Was also Elected by the dean to host the inauguration
      function in front of approximately 1,500 students, professors, and staff.
      <br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      I had even volunteered in a seminar “Girls Have Aptitude” held on how to
      program in python for young girls studying in grade 7th and 8th. In India
      I was volunteering in a non-governmental organization VidhyaDaan where on
      every Sunday I mentored children living in slum areas.
      <br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      For more information I have attached my resume in the link below:
      <a
        class="nav-link"
        href="https://drive.google.com/file/d/12FchtDXonDVRzuD3gfILbPefMgAHyd_7/view?usp=sharing"
        role="button"
        ><b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resume</b
        ></a
      >
    </p>

    <br />
  </div>
</div>
<% include ../partials/footer.ejs %>
