<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
        Projects
      </h1>
      <br />
    </center>

    <!-- project 1 -->

    <h4 style="color: rgb(75, 22, 110);">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Soccer League
    </h4>

    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      A web site for a soccer league to track clubs, players, and scheduling
      matches and thereby forecasting the scores.
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Front-End:</b> Microsoft Visual
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Studio Back-End:</b> Microsoft SQL
    </p>

    <br />

    <!-- project 2 -->
    <h4 style="color: rgb(75, 22, 110);">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Habit
    </h4>

    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      An android mobile application called “Habits”.The app focuses on
      registering habits that the user wants to form
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      or break and keeps track for the specified amount of days till the task is
      accomplished.
      <br />

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Front-End:</b> Android Studio
      <br />

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Studio Back-End:</b> Microsoft SQL
      <br />

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Team-Size:</b> 6
    </p>

    <br />

    <!-- project 3 -->
    <h4 style="color: rgb(75, 22, 110);">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Inward And Outward Register(With RF)
    </h4>

    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      A web application that provides access to centralized database amongst
      four different campuses situated in a <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      radius of 4 kms by creating an intranet environment.<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Front-End:</b> Microsoft Visual Studio<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Back-End:</b> Microsoft SQL<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Team-Size:</b> 3
    </p>

    <br />

    <!-- project 4 
    <h4 style="color: rgb(75, 22, 110);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Software Development System</h4>
    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      My name is Khushboo Sakervala. I am perusing Software Engineering
      Technology from Centennial College. I have attained my bachelor’s degree
      in Computer Applications. I have developed key technical skills in the
      area of programming and developing of web application by developing.
    </p>
-->
    <br />
  </div>
</div>
<% include ../partials/footer.ejs %>
