<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
        Projects
      </h1>
      <br />
    </center>

    <!-- project 1 -->
    <center>
      <h4 style="color: rgb(75, 22, 110);">Soccer League</h4>

      <a class="navbar-brand" href="/">
        <img src="Assets/images/logo.png" width="250" height="300" alt="" />
      </a>
    </center>
    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      A web site for a soccer league to track clubs, players, and scheduling
      matches and thereby forecasting the scores.
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Front-End: Microsoft Visual
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Studio Back-End: Microsoft SQL
    </p>

    <br />

    <!-- project 2 -->
    <h4 style="color: rgb(75, 22, 110);">Habit</h4>

    <a class="navbar-brand" href="/">
      <img src="Assets/images/logo.png" width="250" height="300" alt="" />
    </a>
    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      An android mobile application called “Habits”.The app focuses on
      registering habits that the user wants to form or break and keeps track
      for the specified amount of days till the task is accomplished.
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Front-End: Android Studio
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Studio Back-End: Microsoft SQL
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Team-Size: 6
    </p>

    <br />

    <!-- project 3 -->
    <h4 style="color: rgb(75, 22, 110);">Marino</h4>

    <a class="navbar-brand" href="/">
      <img src="Assets/images/logo.png" width="250" height="300" alt="" />
    </a>
    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      My name is Khushboo Sakervala. I am perusing Software Engineering
      Technology from Centennial College. I have attained my bachelor’s degree
      in Computer Applications. I have developed key technical skills in the
      area of programming and developing of web application by developing.
    </p>

    <br />

    <!-- project 4 -->
    <h4 style="color: rgb(75, 22, 110);">Software Development System</h4>

    <a class="navbar-brand" href="/">
      <img src="Assets/images/logo.png" width="250" height="300" alt="" />
    </a>
    <br />
    <p class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      My name is Khushboo Sakervala. I am perusing Software Engineering
      Technology from Centennial College. I have attained my bachelor’s degree
      in Computer Applications. I have developed key technical skills in the
      area of programming and developing of web application by developing.
    </p>

    <br />
  </div>
</div>
<% include ../partials/footer.ejs %>
