/* Custom CSS */

p.content {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  /*background-image: url("../Assets/images/background.jpeg");
  background-repeat: no-repeat;*/
}
