<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
    <center>
      <h1 style="color: rgb(165, 49, 103);">
       Develpoment available on following platforms:
      </h1>
      </center>
    <br />
    <p class="content">
     <h4 style="color: rgb(75, 22, 110);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. Web Applications</h4>
        <a class="navbar-brand" href="/">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Assets/images/ser1.png" width="350" height="300" alt="" />
      </a>
      <br /><br />
      <h4 style="color: rgb(75, 22, 110);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Android Apps</h4>
         <a class="navbar-brand" href="/">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Assets/images/server.jpg" width="350" height="300" alt="" />
      </a><br /><br />
       <h4 style="color: rgb(75, 22, 110);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Amazon Web Services</h4>
          <a class="navbar-brand" href="/">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Assets/images/aws.png" width="350" height="300" alt="" />
      </a><br /><br />
        <h4 style="color: rgb(75, 22, 110);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Cloud Computing</h4>
           <a class="navbar-brand" href="/">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="Assets/images/cloud-computing.png" width="350" height="300" alt="" />
      </a>

    </p>
  
  </div>
</div>
<% include ../partials/footer.ejs %>
